/* ===== Variables ===== */
:root {
  --planserv-color-green: #004c1c;
  --planserv-overlay-green: #004c1c6c;
  --planserv-color-gray: #808080;
  --planserv-overlay-gray: #808080c9;
  --planserv-color-blue: #080f39;
  --background-color: #ffffff;
  --nav-height-open: 70px;
  --nav-height-collapsed: 30px;
}

/* ===== Main Doc ===== */
body,
html {
  margin: 0px;
  height: 100%;
  background-color: var(--background-color);
}

/* ===== Scroll bar style ===== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--planserv-color-gray);
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--planserv-color-green);
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--planserv-color-blue);
}

/* ===== Top Navigation bar ===== */
nav {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height-collapsed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--- Collapsed state */
nav.collapse {
  animation: collapse 1s ease forwards;
}

nav.open {
  animation: open 1s ease-out forwards;
}

/*--- Collapsed state */
@keyframes collapse {
  from {
    height: var(--nav-height-open);
  }
  to {
    height: var(--nav-height-collapsed);
  }
}

/*--- Opened state */
@keyframes open {
  from {
    height: var(--nav-height-collapsed);
  }
  to {
    height: var(--nav-height-open);
  }
}

/* Logo */
#nav-logo {
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
#nav-logo > img {
  height: 70%;
  transition: opacity 0.7s, transform 1s;
  transform: translate(0px, 0px);
}

nav.open #nav-logo img {
  opacity: 0;
  transform: translate(300px, 200px);
}

/* Menu */
#menu {
  padding-right: 50px;
  background: transparent;
}
/* Menu items */
.menu-button {
  color: var(--planserv-color-gray);
  font-family: ARIAL;
  font-size: 15px;
  padding: 10px 15px;
  border: 0px;
  background: transparent;
  cursor: pointer;
  text-align: center;
}
/* Menu items hover */
.menu-button:hover {
  color: var(--planserv-color-blue);
  text-shadow: 0 0 12px var(--planserv-color-blue);
}

/* ===== div used for full page ===== */
.page {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  margin-top: 3px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Pages - background */
.page#home {
  background-image: linear-gradient(var(--planserv-overlay-gray), var(--planserv-overlay-green)), url('./images/home.jpg');
}
.page#about {
  background-image: linear-gradient(var(--planserv-overlay-green), var(--planserv-overlay-gray)), url('./images/about.jpg');
}
.page#company-details {
  background-image: linear-gradient(var(--planserv-overlay-gray), var(--planserv-overlay-green)), url('./images/companyDetails.jpg');
}
.page#services {
  background-image: linear-gradient(var(--planserv-overlay-green), var(--planserv-overlay-gray)), url('./images/services.jpg');
}
.page#the-planner {
  background-image: linear-gradient(var(--planserv-overlay-gray), var(--planserv-overlay-green)), url('./images/thePlanner.jpg');
}
.page#contact-us {
  background-image: linear-gradient(var(--planserv-overlay-green), var(--planserv-overlay-gray)), url('./images/contactUs.jpg');
}

/* Pages - contents */
.page#home > img {
  max-height: 50vh;
}
.page#about {
}
.page#company-details {
}
.page#services {
}
.page#the-planner {
}
.page#contact-us {
}
